@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Tektur&display=swap');
body {font-family: 'Barlow Condensed', sans-serif;
background: linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
font-weight: bold;text-align:center;}
fieldset { border: 3px solid;
font-size: larger;
background-color: rgb(224, 55, 125);
text-align: center;}
input:focus , select:focus , textarea:focus , button:focus {outline: none; border: 2px solid; 
border-color: #f1851f;}
select{cursor: pointer;}
textarea{cursor: pointer;}
input{cursor: pointer;}
form{width: 500px; padding: 10px; margin: auto;}
button{text-align: center;
background-color:rgb(224, 55, 125); cursor: pointer; width: 30%;
padding: 2%; margin: auto; border-width: 3px; margin-left: 5%;}
button:hover { background-color: #f1851f;}